@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./assets/fonts/Nunito-Regular.ttf) format('ttf');
}

body {
  margin: 0;
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #283841 !important;
}

code {
  font-family: 'Nunito'
}
